/* .left-btn{
    background-color: white;
    opacity: 1;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 12px;
    width: 50px;
}
.right-btn{
    background-color: white;
    opacity: 1;
    height: 50%;
    position: absolute;
    top: 25%;
    right: 12px;
    width: 50px;
} */